{% extends 'base.html' %}
{% block title %}
Triggers
{% endblock title %}



{% block body %}
 <h3 class="text-center"><span>Student Triggers Records</span> </h3>
  
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}


</div>
  {% endfor %}
  {% endif %}
  {% endwith %}
<br>

<div class="container mt-4">
<div class="table-responsive">
<table class="table table-striped table-hover table-bordered shadow-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Trigger ID</th>
      <th scope="col">Roll Number</th>
      <th scope="col">Action</th>
      <th scope="col">Timestamp</th>


    </tr>
  </thead>
  <tbody>
  {% if query %}
  {% for post in query %}
    <tr>
      <td>{{post.tid}}</td>
      <td><strong>{{post.rollno}}</strong></td>
      <td>
        {% if 'INSERT' in post.action %}
        <span class="badge badge-success">{{post.action}}</span>
        {% elif 'UPDATE' in post.action %}
        <span class="badge badge-info">{{post.action}}</span>
        {% elif 'DELETE' in post.action %}
        <span class="badge badge-danger">{{post.action}}</span>
        {% else %}
        <span class="badge badge-secondary">{{post.action}}</span>
        {% endif %}
      </td>
      <td>{{post.timestamp}}</td>
     
  
    </tr>
{% endfor %}
{% else %}
    <tr>
      <td colspan="4" class="text-center">No trigger records found</td>
    </tr>
{% endif %}
  
  </tbody>
</table>
</div>
</div>



{% endblock body %}